:{$PORT} {
    root * public
    php_server

    encode gzip zstd

    @static {
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp
    }
    
    header @static {
        Cache-Control "public, max-age=31536000, immutable"
        X-Mi-Cache "funcionando-en-caddy"
    }

    handle {
        try_files {path} /index.php?{query}
    }
}